@font-face {
  font-family: 'OpenDyslexic';
  src: url('../public//fonts/OpenDyslexic-Regular.otf');
}

.app {
  font-family: 'OpenDyslexic';
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-image: url('../public/bg.png');
  background-size: cover;
}

.container {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 0fr;
  grid-gap: 20px;
  box-sizing: border-box;
  z-index: 1;
}

.container-item {
  box-sizing: border-box;
  background-color: #ffffff98;
}

.card-overlay{
  margin: 0;
  position: absolute;
  z-index: 1;
}

.card-name{
  top: 6px;
  left: 30px;
  width: 200px;
  position: absolute;
  z-index: 2;
}

.preview {
  height: 522px;
}

.card-cost{
  top: 2px;
  width: 165px;
  left: 185px;
  position: absolute;
  z-index: 5;
}

.card-cost img {
  float: right;
  height: 40px;
}

.card-art {
  position: absolute;
  z-index: 4;
  top: 38px;
  left: 27px;
  width: 318px;
  height: 242px;
  z-index: 1;
}

.card-art img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.card-type{
  position:absolute;
  width: 315px;
  top: 290px;
  left: 30px;
  z-index: 5;
}

.card-stats-asset{
  position: absolute;
  z-index: 1;
}

.card-power{
  position: absolute;
  z-index: 2;
  top: 241px;
  left: 30px;
  font-size: 25px;
}

.card-health{
  position: absolute;
  z-index: 2;
  top: 241px;
  left: 324px;
  font-size: 25px;
}

.card-frame {
  z-index: 0;
}

.card-text-box{
  text-align: center;
  left:28px;
  top:328px;
  width: 317px;
  height: 175px;
  position: absolute;
}

.sigil-box {
  height: 100%;
  width: 100%;
}

.card-text-container {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: 1fr 1.3fr 0.4fr;
}

.card-text-primary {
  display: grid;
}

.card-text-secondary {
  display: grid;
}

.card-text-flavour {
  display: grid;
}

.card-id {
  position: absolute;
  transform: rotate(270deg);
  left: 330px;
  top: 399px;
  font-size: 14px;
}

.card-wobble {
  position: absolute;
  z-index: 3;
}

.card-banner {
  position: absolute;
  z-index: 3;
}

.card-sigils {
  position: absolute;
  z-index: 4;
  top: 323px;
  left: 29px;
  width: 60px;
  height: 180px;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.card-sigils img {
  width: 100%;
}